.home {
	padding: 20px;
	min-height: 100%;
	width: 100%;
}
.realFeel
{
 align: center;
 font-size: 18px;
 margin-top: -25px;
}
.currentTemp
{
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	margin-top: -25px;
}
